body {
  background-color: #D3D3D3;
}
.top-panel {
  position: static;
  padding: 10px;
  margin-top: -8px;
  margin-left: -8px;
  background-color: #010038;
  border: 2px;
  color: white;
  text-align: center;
  font-family: Helvetica;
}

.left-panel {
  height: 100%
  width: 30%;
  margin-left: -8px;
  background-color: #010038;
  border: 4px;
  color: yellow;
  position: fixed;
  padding-bottom: 300px;
  padding-right: 10px;

}

a {
  color:white
}

a:hover {
 color: #D3D3D3;
}

.centerstage {
  padding-left: 125px;
}

table {
  background-color: #dc143c;
  border: 2px solid black;
}
